.curso-lista{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-page{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
/*.header-content{*/
/*    width: 100vw;*/
/*    right: 0px;*/
/*    top: 0px;*/
/*}*/